In [1]:
import pandas as pd

In [2]:
file_path = ("shopping_data.csv")
shopping_data = pd.read_csv(file_path)
shopping_data.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [3]:
#columns

shopping_data.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [4]:
#List data types

shopping_data.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [5]:
#Find null values

for column in shopping_data.columns:
    print(f"Column {column} has {shopping_data[column].isnull().sum()} null values")

Column CustomerID has 0 null values
Column Card Member has 2 null values
Column Age has 2 null values
Column Annual Income has 0 null values
Column Spending Score (1-100) has 1 null values

In [6]:
#Drop null rows

df_shopping = shopping_data.dropna()

In [7]:
#Find duplicate entries

print(f"Duplicate entries: {df_shopping.duplicated().sum()}")

Duplicate entries: 0

In [10]:
#Remove the customer ID column (doesnt tell us anything interesting)

df_shopping.drop(columns=['CustomerID'], inplace=True)
df_shopping.head()

C:\Users\yfaul\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

In [18]:
#Transform String column

def change_string (member):
    if member == 'Yes':
        return 1
    else:
        return 0

df_shopping['Card Member'] = df_shopping['Card Member'].apply(change_string)
df_shopping.head()

C:\Users\yfaul\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

   Card Member   Age  Annual Income  Spending Score (1-100)
0            0  19.0        0.00015                    39.0
1            0  21.0        0.00015                    81.0
2            0  20.0        0.00016                     6.0
3            0  23.0        0.00016                    77.0
4            0  31.0        0.00017                    40.0